<div class="container">
    <br />
    <h2 style="text-align: center">Lista de Experiencia Laboral</h2>
  
    <div style="text-align: right">
      <button mat-raised-button color="primary" routerLink="/experiencia-laboral/nuevo">
        Nuevo
      </button>
    </div>
  
    <mat-form-field>
      <input matInput (keyup)="filter($event)" placeholder="Buscar" />
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
      <!-- empresa -->
      <ng-container matColumnDef="empresa">
        <th mat-header-cell *matHeaderCellDef>Empresa</th>
        <td mat-cell *matCellDef="let element">{{ element.empresa }}</td>
      </ng-container>
  
      <!-- cargo -->
      <ng-container matColumnDef="cargo">
        <th mat-header-cell *matHeaderCellDef>Cargo</th>
        <td mat-cell *matCellDef="let element">{{ element.cargo }}</td>
      </ng-container>
  
      <!-- fechaInicio -->
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef>Fecha de Inicio</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaInicio | date:'yyyy-MM-dd' }}</td>
      </ng-container>
  
      <!-- fechaFinalizado -->
      <ng-container matColumnDef="fechaFinalizado">
        <th mat-header-cell *matHeaderCellDef>Fecha de Finalización</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaFinalizado | date:'yyyy-MM-dd' }}</td>
      </ng-container>
  
      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" [routerLink]="['/experiencia-laboral/edicion', element.id_Experiencia_laboral]">
            Actualizar
          </button>
          <button mat-raised-button color="accent" (click)="eliminar(element.id_Experiencia_laboral)">
            Eliminar
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[4, 7, 10]" showFirstLastButtons></mat-paginator>
  </div>
  