<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <mat-toolbar class="toolbar">
      <img src="assets/LWLogo.png" alt="Logo de mi aplicación" class="logo-img">
      <span style="margin-left: 10px;"></span>
      <Span>LITTLE<br>WISH</Span>
      <span class="flex"></span>
      <mat-icon>person</mat-icon>
      <span class="flexentreicons"></span>
      <mat-icon>menu</mat-icon>
  </mat-toolbar>
    <div class="container-form" style="text-align: center">
      <h2>Añadir Curriculum</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idCv</mat-label>
          <input matInput placeholder="Id" formControlName="idCv" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Secundaria</mat-label>
          <mat-select formControlName="formacionAcademica">
            <mat-option
              *ngFor="let cv of listaFA"
              [value]="cv.idFormacionAcademica"
            >
              {{ cv.nombreSecundaria }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('formacionAcademica')?.errors?.['required']"
          >
            El curriculum es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button class="aceptar-button">Aceptar</button>
        <button mat-raised-button class="cancelar-button" routerLink="/formacionacademica/nuevo">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>