<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-form">
        <div class="logo-info">
            <div class="logo-info-child">
                <img src="assets/LWLogo.png" alt="Logo de mi aplicación" class="logo-img">
                <h2>¡BIENVENIDO!</h2>
                <p>Encantado de tenerte por aqui otra vez, por favor ingresa tus credenciales para iniciar sesion o de lo contrario
                    da click en "Create Account" para registrar una cuenta nueva.</p>
            </div>     
        </div>
        <div class="form-info">
            <div class="form-info-child">
                <h1 style="font-family: 'Kiwi Maru', serif;">Login your Account</h1>
                <form>
                    <mat-form-field class="example-full-width">
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="Usuario" formControlName="username" maxlength="15" />
                        <mat-error *ngIf="obtenerControlCampo('username')?.errors?.['required']">
                            Complete el campo
                        </mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field class="example-full-width">
                        <mat-label>Contraseña</mat-label>
                        <input matInput placeholder="Password" formControlName="password" type="password"
                            minlength="5" />
                        <mat-hint>5 caracteres como mínimo</mat-hint>
                        <mat-error *ngIf="obtenerControlCampo('password')?.errors?.['required']">
                            Complete el campo
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <button mat-button routerLink="" class="custom-button">Iniciar Sesion</button>
                    <br>
                    <h2><a href="/usuarios/nuevo">Create Account</a></h2>
                    <h2><a href="">Forgot Password?</a></h2>
                </form>

            </div>
        </div>
    </div>
</body>

</html>