<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
</head>
<body>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Little Wish</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-left: auto;">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="toolbar-margin"></div>
  

  <div class="grid-container">
    <div class="button-container">
      <h1 class="mat-h1">Comentarios</h1>
      <button class="add-button" (click)="navigateToComentarioPuntuacion()">Añadir</button>
    </div>
  </div>
  <div class = "grid-container">
    <mat-card class="example-card" *ngFor="let comentario of comentarios" >
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{comentario.users.username}}</mat-card-title>
          <mat-card-subtitle>{{comentario.users.correo}}</mat-card-subtitle>
          <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ comentario.comentario }}
      </mat-card-content>
    </mat-card>
</div>
  
  <mat-paginator [length]="comentarios.length"
              [pageSize]="5"
              aria-label="Select page"
              showFirstLastButtons>
              
    </mat-paginator>
  
</body>
</html>


