<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-form" style="text-align: center">
      <h2>Añadir Carrera Universitaria</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idCarrera</mat-label>
          <input matInput placeholder="Id" formControlName="idCarrera" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Carrera Universitaria</mat-label>
          <input
            matInput
            placeholder="Carrera"
            formControlName="nameCarreras"
          />
          <mat-error
            *ngIf="obtenerControlCampo('nameCarreras')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button class="aceptar-button" color="primary">Aceptar</button>
        <button mat-raised-button class="cancelar-button" color="warn" routerLink="/universidad/nuevo">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
