<div class="container">
    <br />
    <h2 style="text-align: center">Lista de Idiomas</h2>
  
    <div style="text-align: right">
      <button mat-raised-button color="primary" routerLink="/idiomas/nuevo">
        Nuevo
      </button>
    </div>
  
    <mat-form-field>
      <input matInput (keyup)="filter($event)" placeholder="Buscar" />
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- idiomas -->
      <ng-container matColumnDef="idiomas">
        <th mat-header-cell *matHeaderCellDef>Idiomas</th>
        <td mat-cell *matCellDef="let element">{{ element.idiomas }}</td>
      </ng-container>
  
      <!-- nivelEscrito -->
      <ng-container matColumnDef="nivelEscrito">
        <th mat-header-cell *matHeaderCellDef>Nivel Escrito</th>
        <td mat-cell *matCellDef="let element">{{ element.nivelEscrito }}</td>
      </ng-container>
  
      <!-- nivelOral -->
      <ng-container matColumnDef="nivelOral">
        <th mat-header-cell *matHeaderCellDef>Nivel Oral</th>
        <td mat-cell *matCellDef="let element">{{ element.nivelOral }}</td>
      </ng-container>
  
      <!-- Acciones -->
      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" [routerLink]="['/idiomas/edicion', element.id_Idiomas]">
            Actualizar
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="accent" (click)="eliminar(element.id_Idiomas)">
            Eliminar
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[4, 7, 10]" showFirstLastButtons></mat-paginator>
  </div>
  